NODE_ENV=dev
FUNCTIONS_WORKER_RUNTIME=node
WEBSITE_NODE_DEFAULT_VERSION=20.12.2
AzureWebJobsStorage=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:20003/devstoreaccount1;QueueEndpoint=http://azurite:20004/devstoreaccount1;TableEndpoint=http://azurite:20005/devstoreaccount1;
StorageConnection=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:20003/devstoreaccount1;QueueEndpoint=http://azurite:20004/devstoreaccount1;TableEndpoint=http://azurite:20005/devstoreaccount1;
VALIDATION_CALLBACK_URL=localhost
CONFIRM_CHOICE_PAGE_URL=localhost
SLOT_TASK_HUBNAME=FNPUBLICTESTMOCK

PROFILE_EMAIL_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:20003/devstoreaccount1;QueueEndpoint=http://azurite:20004/devstoreaccount1;TableEndpoint=http://azurite:20005/devstoreaccount1;
PROFILE_EMAIL_STORAGE_TABLE_NAME=profileEmails

APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=foo;IngestionEndpoint=http://localhost;LiveEndpoint=http://localhost

COSMOSDB_URI=https://cosmosdb:3000
COSMOSDB_KEY=dummykey
COSMOSDB_NAME=testdb

MAINTENANCE_STORAGE_ACCOUNT_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:20003/devstoreaccount1;QueueEndpoint=http://azurite:20004/devstoreaccount1;TableEndpoint=http://azurite:20005/devstoreaccount1;
VALIDATION_TOKENS_TABLE_NAME=validation-tokens
