################
# AppInsinghts #
################
APPINSIGHTS_CONNECTION_STRING=InstrumentationKey=foo;IngestionEndpoint=http://localhost;LiveEndpoint=http://localhost
APPINSIGHTS_DISABLED=false
APPINSIGHTS_SAMPLING_PERCENTAGE=100
# cloud_RoleName value; if undefined, WEBSITE_SITE_NAME will be used
APPINSIGHTS_CLOUD_ROLE_NAME="session-manager-dev"

APPINSIGHTS_REDIS_TRACE_ENABLED="true"

API_URL=""
API_KEY=""
API_BASE_PATH=""

################
# FIMS CONFIG
################
FIMS_BASE_PATH=/fims/api/v1
ALLOW_FIMS_IP_SOURCE_RANGE="::/0"
################

REDIS_URL=localhost
REDIS_PASSWORD=bitnami
REDIS_PORT=6386

NODE_TLS_REJECT_UNAUTHORIZED=0

BACKEND_HOST=https://localhost
SPID_TESTENV_URL=https://spid-testenv2:8088
SAML_CALLBACK_URL=http://localhost:8081/assertionConsumerService
SAML_LOGOUT_CALLBACK_URL=http://localhost:8081/slo

CIE_METADATA_URL=https://api.is.eng.pagopa.it/idp-keys/cie/latest
IDP_METADATA_URL=https://api.is.eng.pagopa.it/idp-keys/spid/latest

SPID_LOG_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;
SPID_LOG_QUEUE_NAME=spidlogsqueue

FAST_LOGIN_API_KEY=key
FAST_LOGIN_API_URL=http://host.docker.internal:3000

LOLLIPOP_API_KEY=aKey
LOLLIPOP_API_BASE_PATH=/api/v1
LOLLIPOP_API_URL=http://functions-lollipop:7071
LOLLIPOP_REVOKE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;
LOLLIPOP_REVOKE_QUEUE_NAME=revokequeue

FF_FAST_LOGIN=ALL

#####################
# ZENDESK VARIABLES #
#####################
ZENDESK_BASE_PATH=/api/backend/zendesk/v1
JWT_ZENDESK_SUPPORT_TOKEN_SECRET="ASHAREDSECRET123"
JWT_ZENDESK_SUPPORT_TOKEN_ISSUER=io-backend
JWT_ZENDESK_SUPPORT_TOKEN_EXPIRATION=1200
ALLOW_ZENDESK_IP_SOURCE_RANGE="::/0"
#####################

BPD_BASE_PATH=/bpd/api/v1
ALLOW_BPD_IP_SOURCE_RANGE="::/0"

# ------------------------------------
# CIE TEST FISCAL CODES
# ------------------------------------
ALLOWED_CIE_TEST_FISCAL_CODES="GRBGPP87L04L741X"

LOCKED_PROFILES_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;
LOCKED_PROFILES_TABLE_NAME=lockedProfiles

USERS_LOGIN_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;
USERS_LOGIN_QUEUE_NAME=ulqueuename

PUSH_NOTIFICATIONS_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;
PUSH_NOTIFICATIONS_QUEUE_NAME=nqueuename

## PAGOPA PROXY CONFIG
PAGOPA_BASE_PATH=/pagopa/api/v1
ALLOW_PAGOPA_IP_SOURCE_RANGE="::/0"

## TEST LOGIN CONFIG
TEST_LOGIN_PASSWORD=test
TEST_LOGIN_FISCAL_CODES=AAAAAA00A00A000B


FF_COOKIE_VALIDATION=ALL
