NODE_ENV=dev

FUNCTIONS_WORKER_RUNTIME=node
WEBSITE_NODE_DEFAULT_VERSION=20.12.2
AzureWebJobsStorage=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:20003/devstoreaccount1;QueueEndpoint=http://azurite:20004/devstoreaccount1;TableEndpoint=http://azurite:20005/devstoreaccount1;
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:20003/devstoreaccount1;QueueEndpoint=http://azurite:20004/devstoreaccount1;TableEndpoint=http://azurite:20005/devstoreaccount1;

APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=foo;IngestionEndpoint=http://localhost;LiveEndpoint=http://localhost

COSMOSDB_URI=https://cosmosdb:3000
COSMOSDB_KEY=dummykey
COSMOSDB_NAME=testdb
COSMOSDB_CONNECTION_STRING="AccountEndpoint=https://cosmosdb:3000;AccountKey=dummykey;"

BACKEND_INTERNAL_BASE_URL=https://backendli:3000
BACKEND_INTERNAL_API_KEY=dummy

FUNCTION_PROFILE_BASE_URL=https://fn=profile:3000
FUNCTION_PROFILE_API_KEY=dummy

EXPIRED_SESSION_CTA_URL=https://ctaurl

MAIL_FROM=sender@example.com
MAILHOG_HOSTNAME=localhost

EXPIRED_SESSION_ADVISOR_QUEUE=test-expired-session-trigger-queue

# MigrateServicePreferenceFromLegacy Config
IOPSTAPP_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:20003/devstoreaccount1;QueueEndpoint=http://azurite:20004/devstoreaccount1;TableEndpoint=http://azurite:20005/devstoreaccount1;
MIGRATE_SERVICES_PREFERENCES_PROFILE_QUEUE_NAME=test-profile-migrate-services-preferences-from-legacy

ON_PROFILE_UPDATE_LEASES_PREFIX=prefix
PROFILE_EMAIL_STORAGE_TABLE_NAME=ProfileEmailStorageTableName

FF_DRY_RUN=false
