NODE_ENV=dev
FUNCTIONS_WORKER_RUNTIME=node
WEBSITE_NODE_DEFAULT_VERSION=20.19.5

APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=foo;IngestionEndpoint=http://localhost;LiveEndpoint=http://localhost"
APPINSIGHTS_REDIS_TRACE_ENABLED=true

LOLLIPOP_REVOKE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;"
LOLLIPOP_REVOKE_QUEUE_NAME=revokequeue

LOCKED_PROFILES_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;"
LOCKED_PROFILES_TABLE_NAME=lockedProfiles

PUSH_NOTIFICATIONS_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;"
PUSH_NOTIFICATIONS_QUEUE_NAME=nqueuename

###
# REDIS
###
REDIS_URL=redis
REDIS_PORT=6379
REDIS_TLS_ENABLED=false

###
# Service Bus
###
# Local Env only support ConnectionString Authentication to ServiceBus Emulator
# Production Env only support ManagedIdentities

# To configure the application for local serviceBus emulator(connectionString) `SERVICE_BUS_CONNECTION` must be valued with the connectionString as the example
# To configure the application for production serviceBus:
# - do NOT include the Env `SERVICE_BUS_CONNECTION` in the applicationSettings,
# - instead include the `SERVICE_BUS_CONNECTION__fullyQualifiedNamespace` Env valued with the ServiceBus Namespace
# doing so, the client used to emit events will be init using DefaultCredentials(), and the serviceBusTrigger function will use ManagedIdentities
# more information on ServiceBusTrigger here: https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=python-v2%2Cisolated-process%2Cnodejs-v4%2Cextensionv5&pivots=programming-language-typescript#connections

SERVICE_BUS_CONNECTION="Endpoint=sb://foo.servicebus.windows.net/;SharedAccessKeyName=someKeyName;SharedAccessKey=someKeyValue"
SERVICE_BUS_NAMESPACE=servicebus
AUTH_SESSIONS_TOPIC_NAME=auth-sessions
REJECTED_LOGIN_TOPIC_SUBSCRIPTION_NAME=rejected-login-subscription-name


###
# Audit Logs
###
AUDIT_LOG_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:20003/devstoreaccount1;QueueEndpoint=http://127.0.0.1:20004/devstoreaccount1;TableEndpoint=http://127.0.0.1:20005/devstoreaccount1;"
AUDIT_LOG_REJECTED_LOGIN_CONTAINER_NAME=rejected-login-logs-01