HOST=0.0.0.0
PORT=8001

LOLLIPOP_API_KEY=your-lollipop-api-key
LOLLIPOP_API_URL=http://localhost:7071
LOLLIPOP_API_BASE_PATH=/api/v1

IO_PROFILE_API_KEY=your-io-profile-api-key
IO_PROFILE_API_URL=http://localhost:7076
IO_PROFILE_API_BASE_PATH=/api/v1

IO_FAST_LOGIN_API_KEY=your-io-fast-login-api-key
IO_FAST_LOGIN_API_URL=http://localhost:7075
IO_FAST_LOGIN_API_BASE_PATH=/api/v1
