name: Deploy (io-session-manager-internal)

on:
  workflow_dispatch:

jobs:
  deploy_to_azure:
    name: Deploy to Azure Function App
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@76fa9d0cf942bdc2fb5f74853e271511a48269c4
    with:
      # '-cd' suffix added inside the pipeline
      environment: app-prod
      resource_group_name: "io-p-itn-auth-main-rg-01"
      workspace_name: "io-session-manager-internal"
      web_app_name: "io-p-weu-auth-sm-int-func-01"
      use_private_agent: true
      disable_auto_staging_deploy: true
    secrets: inherit
    permissions:
      attestations: write
      contents: read
      id-token: write
