name: Deploy (io-profile-async)

on:
  workflow_dispatch:

jobs:
  deploy_to_azure:
    name: Deploy to Azure Function App
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@5d6a57f0ed4c7246ce16644123a31c9370ca8cb2
    with:
      # '-cd' suffix added inside the pipeline
      environment: app-prod
      resource_group_name: "io-p-itn-auth-main-rg-01"
      workspace_name: "io-profile-async"
      web_app_name: "io-p-itn-auth-profas-func-02"
      use_private_agent: true
      disable_auto_staging_deploy: true
    secrets: inherit
    permissions:
      attestations: write
      contents: read
      id-token: write
