name: PR - Opex Dashboard session-manager

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
    branches:
      - main
    paths:
      - "apps/io-session-manager/api/*.yaml"
      - ".github/workflows/pr_opex_api_session_manager.yaml"
      - ".github/workflows/call_pr_opex_api.yml"
      - "apps/io-session-manager/.opex/**"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

jobs:
  filter:
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: read
    outputs:
      plan-action: ${{ steps.filter.outputs.plan-action }}
      bpd: ${{ steps.filter.outputs.bpd }}
      fims: ${{ steps.filter.outputs.fims }}
      internal: ${{ steps.filter.outputs.internal }}
      external: ${{ steps.filter.outputs.external }}
      pagopa: ${{ steps.filter.outputs.pagopa }}
      zendesk: ${{ steps.filter.outputs.zendesk }}
    # Checks to see if openapi specs in the PR match one of the ones listed.
    # We can use the result to decide which job to run
    # With this type of filter we can avoid creating a lot of workflow files
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: ./.github/opex_filters.yaml
  plan-bpd:
    needs: filter
    if: ${{ needs.filter.outputs.bpd == 'true' || needs.filter.outputs.plan-action == 'true' }}
    uses: ./.github/workflows/call_pr_opex_api.yml
    name: (Bpd) Plan changes against Production
    secrets: inherit
    with:
      api_name: bpd
      app_name: io-session-manager
  plan-external:
    needs: filter
    if: ${{ needs.filter.outputs.external == 'true' || needs.filter.outputs.plan-action == 'true' }}
    uses: ./.github/workflows/call_pr_opex_api.yml
    name: (External) Plan changes against Production
    secrets: inherit
    with:
      api_name: external
      app_name: io-session-manager
  plan-fims:
    needs: filter
    if: ${{ needs.filter.outputs.fims == 'true' || needs.filter.outputs.plan-action == 'true' }}
    uses: ./.github/workflows/call_pr_opex_api.yml
    name: (Fims) Plan changes against Production
    secrets: inherit
    with:
      api_name: fims
      app_name: io-session-manager
  plan-internal:
    needs: filter
    if: ${{ needs.filter.outputs.internal == 'true' || needs.filter.outputs.plan-action == 'true' }}
    uses: ./.github/workflows/call_pr_opex_api.yml
    name: (Internal) Plan changes against Production
    secrets: inherit
    with:
      api_name: internal
      app_name: io-session-manager
  plan-pagopa:
    needs: filter
    if: ${{ needs.filter.outputs.pagopa == 'true' || needs.filter.outputs.plan-action == 'true' }}
    uses: ./.github/workflows/call_pr_opex_api.yml
    name: (Pagopa) Plan changes against Production
    secrets: inherit
    with:
      api_name: pagopa
      app_name: io-session-manager
  plan-zendesk:
    needs: filter
    if: ${{ needs.filter.outputs.zendesk == 'true' || needs.filter.outputs.plan-action == 'true' }}
    uses: ./.github/workflows/call_pr_opex_api.yml
    name: (Zendesk) Plan changes against Production
    secrets: inherit
    with:
      api_name: zendesk
      app_name: io-session-manager
